@font-face {
    font-family: 'Shrikhand';
    src: url(./font/Shrikhand-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    background-color: white;
}

.header__arrow {
    position: absolute;
    left: 2rem;
    width: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(5, 5, 5, 0.76);
    font-size: 1.5em;
}

.header__logo {
    font-family: 'shrikhand', cursive;
}

.headImg {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 18rem;
    object-fit: cover;
}

.menu {
    position: relative;
    margin-top: -3rem;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
}

.menu__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.2em;
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}

.fa-heart {
    background-color: transparent;
    transition: color 500ms ease-in;
    font-size: 1.5em;
}
    
.fa-heart:hover {
    background-image: linear-gradient(#ff79DA, #9356dc);
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
}

.carte__title {
    font-size: 1em;
    font-weight: 100;
    font-family: sans-serif;
    padding: 0 1rem;
    text-transform: uppercase;
}

.underline {
    text-decoration: 3px underline lightblue;
    text-underline-position: under;
}

.blocMenu {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    max-width: 100%;
    margin: 1rem 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    cursor: pointer;
    position: relative;
    opacity: 0;
}

.display-1 {
    animation: apparition 1s forwards;
}

.display-2 {
    animation: apparition 1s forwards 0.5s;
}

.display-3 {
    animation: apparition 1s forwards 1s;
}


@keyframes apparition {
    
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 0.5;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.blocMenu__info {
    flex: 1;
    padding: 0.75rem;
}

.blocMenu__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blocMenu__more {
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 100;
    font-size: 0.8em;
}

.blocMenu__price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #3d3a3ade;
    padding: 0.75rem;
    transition: margin-right 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.blocMenu:hover .blocMenu__price {
    margin-right: 70px;
}

.blocMenu__confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: -30px;
    width: 60px;
    height: 100%;
    background: #99e2d0;
    transform: scale(0);
    transition: transform 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 400ms ease-in-out;
}

.blocMenu__confirm i {
    transition: transform 400ms ease-in-out;
}

.blocMenu:hover i {
    transform: rotate(360deg);
}

.blocMenu:hover .blocMenu__confirm {
    transform: scale(1);
    right: 0;
}

.blocMenu__confirm:hover i {
    transform: rotate(360deg);
}
  
.topSpace {
    margin-top: 2rem;
}

.wrapBoutton {
    display: flex;
    justify-content: center;
}

.commanderBoutton {
    border-radius: 5rem 5rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    font-weight: 600;
    color: white;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    transition: transform 400ms;
}

.commanderBoutton:hover {
    transform: scale(1.2);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #ff79d9f3 0%, #9256dce8 100%);
}

.footer {
    background-color: #353535;
    margin-top: 5rem;
    padding: 0.3rem 1rem;
}

.footer__logo {
    color: white;
    font-family: 'Shrikhand', 'cursive';
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__display {
    padding-bottom: 10px;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__icon {
    margin-right: 0.5rem;
    width: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        margin: auto;
        max-width: 500px;
    }
}

@media (min-width: 1024px) {

    .header__arrow {
        font-size: 2em;
        width: 2rem;
        left: 2rem;
        top: 2rem;
    }

    main {
        min-width: 900px;
    }

    .menu__start {
        margin-bottom: 6rem;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .fa-heart {
        font-size: 2em;
        margin-left: 6rem;
    }
    
    .cartes {
        display: flex;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 100px;
    }

    .header__logo {
        font-size: 2em;
    }

    .headImg {
        max-height: 20rem ;
    }

    .menu__start {
        margin-bottom: 1rem;
    }

    .menu__title {
        font-size: 1.5em;
        margin-top: 1rem;
    }

    .carte__title {
        font-size: 1.2em;
    }

    .topSpace {
        margin-top: 0;
    }

    .blocMenu {
        font-size: 1.2em;
        margin-bottom: 2rem;
        width: 25rem;
        max-width: 35rem;
    }

    .blocMenu:hover .blocMenu__price {
        margin-right: 60px;
    }

    .blocMenu__confirm {
        width: 60px;
    }

    .wrapBoutton {
        margin-top: 1rem;
    }

    .commanderBoutton {
        font-size: 1.2em;
        padding: 1rem 3rem;
        margin-top: 0;
    }

    .footer {
        font-size: 2em;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__list {
        display: flex;
    }

    .footer__link {
        margin-right: 5rem;
    }

    .footer__icon {
        margin-right: 2rem;
    }
}