@font-face {
    font-family: 'Shrikhand';
    src: url(./font/Shrikhand-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    z-index: 100;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 3s linear;
    transform: scaleX(1);
}

.loader__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9356DC;
    height: 20px;
    width: 80%;
    border: solid 2px black;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 2.8s cubic-bezier(.32,0,.07,1);
    z-index: 100;
}

.loader__bar::after {
    transform: scaleX(1);
}

@keyframes loader {

    0% {
        visibility: visible;
    }
    50% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    } 
}

.location__title {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 100;
}

.header__logo {
    font-family: 'shrikhand', cursive;
}

.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(243, 243, 243);
}

.location__icon {
    margin-right: 1rem;
}

.location__text {
    font-weight: bolder;
}

.menu {
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 2rem;
}

.menu__title {
    margin-top: 0;
}

.menu__text {
    font-weight: lighter;
    padding-bottom: 2rem;
}

.menu__btn {
    border-radius: 5rem 5rem;
    padding: 1rem 1rem;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    font-weight: 600;
    color: white;
    border: none;
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    transition: transform 400ms;
}

.menu__btn:hover {
    transform: scale(1.2);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #ff79d9f3 0%, #9256dce8 100%);
}

.fonction {
    padding: 2rem;
}

.fonction__title {
    margin-top: 0;
}

.fonction__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fonction__li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-radius: 1.25rem;
    padding: 0.75rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    position: relative;
}

.fonction__icon {
    font-size: 1.2em;
    color: #5f5d5d;
    padding-left: 1rem;
}

.fonction__text {
    margin-right: 2rem;
    font-weight: bolder;
}

.fonction__count {
    background-color: #9356DC;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 0;
}

.restaurants {
    padding: 2rem;
    margin: 0;
    background-color: #f6f6f6;
}

.bloc__carte {
    position: relative;
}

.cartes__link {
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
    color: inherit;
}

.cartes__img {
    object-fit: cover;
    width: 100%;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
}

.cartes__new {
    position: absolute;
    right: 5%;
    background-color: #99E2D0;
    padding: 0.5rem 0.5rem;
    border-radius: 0.1rem;
    color: hsl(165, 56%, 24%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
}

.cartes__bloc {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 0 0 1rem 1rem;
}

.cartes__content {
    flex: 1;
}

.cartes__content__title {
    margin: 0 0 0.25rem 0;
    font-weight: bold;
    font-size: 1.2em;
}

.cartes__content__text {
    margin: 0;
    font-size: 1.1em;
}

.cartes__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.footer {
    background-color: #353535;
    margin-top: 3rem;
    padding: 0.3rem 1rem;
}

.footer__logo {
    color: white;
    font-family: 'Shrikhand', 'cursive';
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__display {
    padding-bottom: 10px;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__icon {
    margin-right: 0.5rem;
    width: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        margin: auto;
        max-width: 500px;
    }
}

@media (min-width: 1024px) {

    .header__arrow {
        font-size: 5em;
    }

    main {
        margin: auto;
        min-width: 900px;
    }

    .header__logo {
        font-size: 5em;
    }

    .location__icon {
        font-size: 3em;
    }

    .location__text {
        font-size: 3em;

    }
    .menu {
        font-size: 4em;
    }

    .menu__btn {
        font-size: 0.8em;
        padding: 3rem 6rem;
    }

    .fonction__title {
        display: flex;
        justify-content: center;
        font-size: 5em;
        margin-top: 5rem;
    }

    .fonction__list {
        display: flex;
        justify-content: center;
    }

    .fonction__li {
        font-size: 3em;
    }

    .fonction__count {
        visibility: hidden;
    }

    .fonction__icon {
        margin-left: 1rem;
    }

    .fonction__text {
        margin-left: 2rem;
    }

    .restaurants__title {
        display: flex;
        justify-content: center;
        font-size: 5em;
    }

    .restaurants__cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bloc__carte {
        width: 35%;
        height: auto;
        margin: 0 0 3% 1%;
    }

    .cartes__img {
        height: 50rem;
    }

    .cartes__new {
        font-size: 4em;
    }

    .cartes__bloc {
        font-size: 3em;
    }

    .cartes__content {
        margin-left: 5rem;
    }

    .menu__like {
        margin-right: 10rem;
    }

    .footer {
        font-size: 4em;
        display: flex;
        justify-content: center;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__list {
        display: flex;
    }

    .footer__link {
        margin-right: 10rem;
    }

    .footer__icon {
        margin-right: 4rem;
    }
}
